.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fdfaf6;
  font-family: 'Patrick Hand', cursive;
  font-size: large;
  position: relative;
}

h1 {
    color: #161ea6;
      font-size: 2rem;

}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  height: 250px; /* tweak to size you want */
  width: auto;
  display: block;
}

.nav-left {
  width: 100px; /* just balances space with the nav list */
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #161ea6;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #8c6239;
}
